body {
    color: #212121
}

#thanksHeader {
    text-align: center;
    padding: 1em 0;
}

.thanksSection {
    display: flex;
    justify-content: space-evenly;
    height: calc(100vh - 16.5rem)
}

.thanksColumn {
    list-style-type: none;
    width: 40%;
    padding: 0;
    margin: 0;
}

.thanksColumn > li {
    border-bottom: solid 1px #212121;
    padding: 1em 0;
}

.thanksColumn > li > a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    #thanksHeader {
        text-align: center;
        padding: 0.5em 0;
    }
    
    .thanksSection {
        flex-direction: column;
        height: auto;
    }

    .thanksColumn {
        list-style-type: none;
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }
}
